/* html{
    width: 1260px;
} */

body{
    max-width: 1260px; 
    /* width: 100%; */
    font-style: helvetica;
    font-size: large;
}

img#imgmq{
    display: none;
}

li{
    cursor: pointer;
}

/*ESTILO DEL NAV*/
ul{
    background-color: rgb(243, 193, 102);
    padding-left: 0.8976660682226212%;/*10px*/
    height: 40px;
    padding-top: 20px;
}
ul li{
    display: inline;
    margin-left: 7.078994614003591%;/*90px*/
    font-weight: bold;
}

#reto{
    text-decoration: underline;
    color: blue;
}


/*ESTILO GENERAL DE LOS DIVS DEL MAIN*/
div#contenedor{
    border: 2px solid black;
    background-color: rgb(243, 157, 213);
    padding: 0.808538163%;/*10px*/
}

div#ol, div#formulario{
    display: inline-block;
    /*padding: 10px;/*10px*/
}

/*ESTILO DEL DIV CON LA VIÑETA*/
div#ol{
    width: 29.8398472%; /*370px *//*Se hace la cuenta desde el with de su contenedor el cual es de 1233 (100%)
    la logica es la siguiente si 1233px es el 100%, 370px cuanto % es. Se hace una regla de tres*/
    height: 440.5px;
    padding: 1.2098275%; /*15px*//*Se hace la cuenta desde el ancho de su contenedor el cual es de 404px (100%).
    Se hace una regla de tres*/
    padding-top: 79px;
    border: 2px solid black;
    background-color: rgb(174, 235, 250);
    font-size: x-large;
}

div#ol img{
    width: 99.9998954%; /*370px*/
    height: 170px; /*auto*/
    border-radius: 4px;
    border: 2px solid gray;
}

div#ol ol li{
    margin-top: 25px
}

#destacado{
    color: orange;
    text-decoration: underline;
}

/*ESTILO DEL DIV CON EL FORMULARIO*/
div#formulario{
    width: 61.8688733%;/*765px*//*Se hace la cuenta desde el with de su contenedor el cual es de 1233 (100%)
    la logica es la siguiente si 1233px es el 100%, 765px cuanto % es. Se hace una regla de tres*/
    height: 487px;/*+40px*/
    padding-left: 3.64454545%;/*45px*//*Con respecto al width de su contenedor que es de 1233px que ed el 100%*/
    padding-top: 43px;
    padding-right: 1.21818182%;/*15px*//*Con respecto al width de su contenedor que es de 1233px que es de 826px que ed el 100%*/
    border: 2px solid black;
    background-color: rgb(136, 245, 160);
}

input#descripcion{
    width: 52.29684848484848%;/*400px*/
    height: 80px;
}

input#short{
    width: 6.550606060606061%;/*50px*/ /*Se calcula mediante el width de su contenedor que es 765px es decir el 100%*/
    padding-left: 1.32007984031936%;/*10px*//*Se calcula mediante el width de su contenedor que es de 765px este es el 100%*/
}

label.derecha{
    margin-left: 4.848484848484848%;/*40px*/
}

.margen{
    margin-left: 1.32007984031936%;/*10px*/
}

input.submit{
    border-radius: 4px;
    border: 2px solid green;
    background-color: rgb(138, 245, 138);
    font-weight: bold;
}

input#right{
    float: right;
}

/*--------------MEDIAS QUERIES 1------------*/
@media (max-width: 1128px){

    div#ol img{
        display: none;
    }

    img#imgmq{
        display: block;
        width: 30%;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 7px;
        border-radius: 4px;
        border: 2px solid gray;
    }

    div#ol{
        height: 487.5px;
        /*padding: 15px;*/
        padding-top: 25px;
        /*width: 25.8398472%; /*370px*/
    }

    div#formulario{
        /*width: 55.7688733%;/*765px*/
        height: 488px;/*+40px*/
        padding-left: 1.34454545%;/*45px*/
        padding-top: 44px;
        padding-right: 0.51818182%;/*15px*/
        border: 2px solid black;
        background-color: rgb(136, 245, 160);
        margin: 15px;
    }

    ul li{
        margin-left: 13.078994614003591%;/*90px*/
    }

    div#ol ol li{
        margin-top: 83px;
    }
}

/*---------MEDIAS QUIERIES 2-----------*/
@media(max-width: 1071px){

    
    img#imgmq{
        display: none;
    }
    
    div#ol{
        padding-top: 8px;
        width: 96.8398472%; 
        height: 55px;
    }
    
    div#ol img{
        display: none;
    }
    
    div#ol ol li{
        margin-left: 6%;/*55px*/
        display: inline;
    }
    


    /*ESTILO DEL DIV CON EL FORMULARIO*/
    div#formulario{
        width: 92.8688733%;/*765px*/
        height: 487px;/*+40px*/
        padding-left: 3.64454545%;/*45px*/
        padding-top: 43px;
        padding-right: 1.21818182%;/*15px*/
        border: 2px solid black;
        background-color: rgb(136, 245, 160);
    }

    input#descripcion{
        width: 52.29684848484848%;/*400px*/
        height: 80px;
    }

    input#short{
        width: 6.550606060606061%;/*50px*/
        padding-left: 1.32007984031936%;/*10px*/
    }

    label.derecha{
        margin-left: 4.848484848484848%;/*40px*/
    }

    .margen{
        margin-left: 1.32007984031936%;/*10px*/
    }

    input.submit{
        border-radius: 4px;
        border: 2px solid green;
        background-color: rgb(138, 245, 138);
        font-weight: bold;
    }

    input#right{
        float: right;
    }
    
}